@import "core/variables";
@import "core/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,700&subset=cyrillic');

body{
    font-family: $main-font;
    font-weight: 300;
}
.header{
    background-color: $black;
    color: #fff;
    text-shadow: 2px 2px 3px #000000;
    background: $black url('../img/header.png') no-repeat center;
    .container{
        position: relative;
    }
    .lang_switcher{
        position: absolute;
        right: 0;
        top: 10px;
    }
    h1 {
        @include media-breakpoint-down(sm) {
            text-align: right;
        }
        img{
            width:250px;
            margin-bottom: 2rem;
        }
    }
    .navbar{
        padding-left: 0;
        padding-right: 0;
        .nav-link:last-child{
            padding-right: 0;
        }

    }
    .hero{
        padding-top:3rem;
        @include media-breakpoint-down(xs) {
            padding-top:1.5rem;
        }
        h2{
            padding: 0;
            margin: 0 0 1.5rem 0;
            font-size: 80px;
            line-height: 1.2;
            @include media-breakpoint-down(xs) {
                font-size: 50px;

            }
        }
    }
    .resume{
        padding-bottom: 3rem;
        font-size: 120%;
        @include media-breakpoint-down(xs) {
            font-size: 100%;
            padding-bottom: 1.5rem;
        }

    }
}
.problem {
    background: #fff url('../img/problem.jpg') no-repeat bottom right;
    padding-top:3rem;
    padding-bottom:3rem;
    .row{
        text-shadow: 2px 2px 3px #fff;
    }
}
.solution {
    background: #000 url('../img/solution.jpg') no-repeat top left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .row {
        text-shadow: 2px 2px 3px #000;
        color: #fff;
    }
}
.trends {
    background: #1d2041 url('../img/trends.jpg') no-repeat center;
    background-size: cover;
    .row {
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-shadow: 2px 2px 3px #000;
        color: #fff;
    }
}
.technology{
    //background: #fff url('../img/technology.jpg') center -100px;
    //background-size: cover;
    .row{
        text-shadow: 1px 1px 1px #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}


footer{
    background: #000;
    color: #fff;
    padding: 3rem 0;
    font-size: 150%;
}
