<!doctype html>
<html lang="{% block lang %}ru{% endblock %}">

<head>
    <title>{{ title | default("Gridfore") }}</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"> {% block styles %}{% endblock %}
    <link href="assets/css/style.css?v=010220171910" rel="stylesheet">
</head>

<body>

    <div class="body">
        {% block body %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
    <script src="assets/js/scripts.js"></script>
</body>

</html>
