<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-3">
                &copy; Gridfore
            </div>
            <div class="col-md-6">
                <p><a href="mailto:sales@gridfore.com">sales@gridfore.com</a></p>
                <p><a href="tel:+74951661243">+7(495)166-12-43</a></p>
                <p>121205, Москва,<br>территория Инновационного Центра Сколково, бульвар&nbsp;Большой, дом&nbsp;42, строение&nbsp;1, офис&nbsp;1436</p>
            </div>
        </div>
    </div>
</footer>
