<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-3">
                &copy; Gridfore
            </div>
            <div class="col-md-6">
                <p><a href="mailto:sales@gridfore.com">sales@gridfore.com</a></p>
                <p><a href="tel:+74951661243">+7(495)166-12-43</a></p>
                <p>Bolshoy boulevard&nbsp;42&nbsp;bld. 1&nbsp;office&nbsp;1436,<br>Skolkovo Innovation Center, Moscow, 121205, Russia</p>
            </div>
        </div>
    </div>
</footer>
