<div class="header">
    <div class="container">
        <a class="lang_switcher" href="/">Ру</a>
        <div class="row hero">
            <div class="col">
                <h1><img src="assets/img/gridfore_en.png" srcset="assets/img/gridfore_en@2x.png"></h1>
            </div>
        </div>
        <div class="row resume justify-content-md-end">
            <div class="col-md-9">
                <p>Gridfore is&nbsp;a&nbsp;project to&nbsp;develop BigData intelligent platform for real-time BI&nbsp;and campaign management, including predictive decision machine and business services.</p>
                <p>Gridfore intends to&nbsp;qualitatively reduce Time-To-Market of&nbsp;developing efficient Campaign Management and Business Analytics services, as&nbsp;well as&nbsp;to&nbsp;provide simple tools for elaboration of&nbsp;business service clouds (product factories) with reliable impact and regress assessment.</p>
                <p>Gridfore is&nbsp;focused on&nbsp;telco (MVNO including), banking and retail.</p>
            </div>
        </div>
    </div>
</div>
