<div class="header">
    <div class="container">
        <a class="lang_switcher" href="index_en.html">En</a>
        <div class="row hero">
            <div class="col">
                <h1><img src="assets/img/gridfore_ru.png" srcset="assets/img/gridfore_ru@2x.png"></h1>
            </div>
        </div>
        <div class="row resume justify-content-md-end">
            <div class="col-md-9">
                <p>Gridfore&nbsp;&mdash; это проект построения платформы аналитики больших данных в&nbsp;режиме реального времени
                    для решения задач управления маркетинговыми кампаниями, принятия решений на&nbsp;основе процессинга событий,
                    реализации высоконагруженных онлайн бизнес-сервисов и&nbsp;real-time&nbsp;BI.</p>
                <p>Проект ориентируется на&nbsp;телекомы и&nbsp;розничные финансовые организации, в&nbsp;том числе для предоставления
                    сервисного концепта для виртуальных операторов связи.</p>
            </div>
        </div>
    </div>
</div>
