<div class="problem">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h3>Problem</h3>
                    <p>Knowing the customers, their environment and getting full understanding of&nbsp;their way of&nbsp;life.</p>
                    <p>The modern retail market is&nbsp;set on&nbsp;three main pillars. These are three main capabilities that currently are not completely used. It&nbsp;is&nbsp;the ability to&nbsp;remotely identify the consumer and interact with him making complex deals, forming effective targeted offers to&nbsp;the consumer in&nbsp;real time, using the mechanisms of&nbsp;geo-tracking and analysis of&nbsp;his Internet and service-consuming activities, accumulating customer&rsquo;s personal behavior, consumer and social patterns in&nbsp;order to&nbsp;create a&nbsp;specular social network of&nbsp;user interaction, so&nbsp;setting up&nbsp;an&nbsp;efficient machine for targeting products and services.</p>
                    <p>A&nbsp;full combination of&nbsp;all those pillars can be&nbsp;possessed by&nbsp;telcos, who can accumulate customer data on&nbsp;the deepest possible (hardware) level, and provide effective data processing functionality, such as&nbsp;personal promotion of&nbsp;partner products and services as&nbsp;a&nbsp;complex business model for universal selling machine that makes social cluster segmentation, targeting the customer and provides real-time decision services (scoring, anti-fraud, etc.). That concept can be&nbsp;best used as&nbsp;a&nbsp;platform for cloud-based services provided to&nbsp;virtual mobile network operator (MVNO) where the modern banks are about to&nbsp;migrate&nbsp;to.</p>
                    <p>However, the existing technological stack does not allow the full use of&nbsp;these features. Although their combination will surely lead to&nbsp;a&nbsp;qualitative change in&nbsp;marketing approach in&nbsp;the retail sector&nbsp;&mdash; the market is&nbsp;well aware of&nbsp;it&nbsp;and it&nbsp;is&nbsp;looking for a&nbsp;suitable solution such as&nbsp;guessing on&nbsp;Gartner&rsquo;s squares, making attempts to&nbsp;use legacy vendor platforms and new open stack, which altogether often provide a&nbsp;limited effect, which can disappoint potential investors in&nbsp;the very idea of&nbsp;such a&nbsp;solution.</p>
            </div>
        </div>
    </div>
</div>
