<div class="problem">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h3>Описание проблемы</h3>
                <p>Знать потребителя, знать его окружение, понимать стиль его жизни.</p>
                <p>У&nbsp;современного ритейла существует три основных измерения возможностей, которые не&nbsp;используются
                    в&nbsp;настоящее время в&nbsp;полной мере. Это возможность удалённой идентификации потребителя и&nbsp;интеракции
                    с&nbsp;ним для проведения сложных сделок, а&nbsp;так&nbsp;же формирования эффективных предложений потребителю
                    в&nbsp;режиме реального времени, с&nbsp;использованием механизмов гео-трекинга и&nbsp;анализа интернет-активностей
                    и&nbsp;активностей использования мобильных сервисов, с&nbsp;накапливанием персональных поведенческих,
                    потребительских и&nbsp;социальных паттернов с&nbsp;целью формирования реальной социальной сети взаимодействия
                    потребителей, позволяющей построить эффективную машину таржетирования продуктов и&nbsp;услуг.</p>
                <p>Полновесным сочетанием всех трёх измерений обладают телекомы, которые могут накапливать данные о&nbsp;потребителях,
                    и&nbsp;предоставлять эффективные сервисы по&nbsp;точечному продвижению партнёрских товар и&nbsp;услуг,
                    включая модель продажи сервисных облаков по&nbsp;таржетированию и&nbsp;сегментации в&nbsp;концепте виртуального
                    оператора мобильной связи.</p>
                <p>Однако, существующий технологический уровень рынка не&nbsp;позволяет в&nbsp;полной мере использовать эти
                    возможности, хотя их&nbsp;сочетание приведёт к&nbsp;качественному изменению подхода к&nbsp;маркетингу
                    в&nbsp;ритейле&nbsp;&mdash; это хорошо понимает рынок, и&nbsp;ищет подходящее решение. Гадание на&nbsp;квадратах
                    Гартнера, попытки использовать устаревшие платформы известных вендоров и&nbsp;новый открытый стек часто
                    дают только ограниченный эффект, что ведёт к&nbsp;разочарованию инвесторов в&nbsp;идее развития в&nbsp;целом
                    верных и&nbsp;понятных для рынка идей.
                </p>
            </div>
        </div>
    </div>
</div>
