<div class="solution">
    <div class="container">
        <div class="row justify-content-md-end">
            <div class="col-lg-9">
                <h3>Как проект решает описанную проблему</h3>
                <p>Архитектурная концепция Gridfore строится на&nbsp;конвергентном OLAP/OLTP решении на&nbsp;базе in-memory
                    технологий (in-memory data grid) и&nbsp;Hadoop stack. Решение является гибридом активного хранилища данных
                    и&nbsp;высокопроизводительного вычислительного компонента для пакетной, потоковой обработки данных и&nbsp;реализации
                    вычислительных сервисов реального времени.</p>
                <p>Инновационность подхода заключается в&nbsp;реализации принципиальной возможности построения решения этого
                    класса&nbsp;&mdash; построении активного хранилища данных, выдерживающего одновременную высокую OLAP
                    и&nbsp;OLTP нагрузку, с&nbsp;предоставлением доступа к&nbsp;активно изменяемым большим данным в&nbsp;режиме
                    реального времени с&nbsp;минимально возможной латентностью.
                </p>
                <p>Так&nbsp;же, в&nbsp;рамках решения реализуются компоненты управления метаданными (обеспечивающие поддержку
                    историзма структур данных и&nbsp;отработку рисков импакта), средства выверки качества данных и&nbsp;унификации
                    семантики источников, инструменты реализации бизнес-логики для DevOps инженеров. Наличие собственного
                    развитого скриптового языка (DSL) наряду с&nbsp;развитой системой дистрибьюции кода, позволяет безопасно
                    выполнять код клиента на&nbsp;кластере, например скоринговые сервисы, и&nbsp;проводить машинное обучение
                    частных моделей, обогащённых предикторами клиента.</p>
                <p>Таким образом, решение Gridfore является платформой управления данными с&nbsp;возможностью предоставления
                    сервисов, обеспечивающих дополнительную (кроме типичного SaaS) монетизацию:</p>
                <ul>
                    <li>тарификацию обращения к&nbsp;данным платформы и&nbsp;частным данным облака;</li>
                    <li>тарификацию процессорных ресурсов на&nbsp;выполнение частных запросов;</li>
                    <li>тарификацию пространства для хранения частных обученных моделей, исходных данных и&nbsp;предикторов;</li>
                    <li>предоставление традиционных SaaS сервисов.</li>
                </ul>
                <p>Решение является линейно масштабируемым с&nbsp;возможностью горячего реконфигурирования кластеров и&nbsp;штатной
                    отработки отказа, гибко интегрируется с&nbsp;устаревшими и&nbsp;новыми операционными и&nbsp;сервисными
                    платформами в&nbsp;режимах от&nbsp;реального времени до&nbsp;пакетной обработки.</p>
            </div>
        </div>
    </div>
</div>
