<div class="technology">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Описание базовой технологии</h3>
                <p>Проект Gridfore предназначен для развития&nbsp;CM и&nbsp;BI сервисов, а&nbsp;так&nbsp;же предоставления бизнесу
                    конструктора бизнес-сервисов (продуктовых фабрик с&nbsp;низким TTM и&nbsp;высокой надёжностью), со&nbsp;встроенными
                    средствами управления рисками импакта и&nbsp;регресса.</p>
                <p>Архитектурная концепция Gridfore строится на&nbsp;конвергентном OLAP/OLTP решении на&nbsp;базе in-memory технологий
                    (in-memory data grid) и&nbsp;Hadoop stack. Решение является гибридом активного хранилища данных и&nbsp;высокопроизводительного
                    вычислительного компонента для пакетной, потоковой обработки данных и&nbsp;реализации вычислительных сервисов
                    реального времени.</p>
                <p>Команда проекта Gridfore имеет обширный опыт реализации&nbsp;BI решений. В&nbsp;настоящее время, команда развивает
                    платформу для крупного глобального телекома, законтрактована высокотехнологичным розничным банком и&nbsp;находится
                    в&nbsp;переговорах с&nbsp;рядом потенциальных клиентов. </p>
                <p>Проект Gridfore заинтересован в&nbsp;новых возможностях технологического развития, которые могут дать инвестиции,
                    а&nbsp;так&nbsp;же обмен идеями в&nbsp;профессиональном и&nbsp;бизнес-сообществе.</p>
            </div>
        </div>
    </div>
</div>
