<div class="technology">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Technology</h3>
                <p>Gridfore is&nbsp;the project to&nbsp;develop BigData intelligent platform for real-time BI&nbsp;and campaign management, which includes a&nbsp;predictive decision machine and online business services such as&nbsp;scoring, anti-fraud and marketing services.</p>
                <p>Gridfore intends to&nbsp;reduce qualitatively TTM of&nbsp;developing efficient and reliable&nbsp;CM and&nbsp;BI services, as&nbsp;well as&nbsp;to&nbsp;provide simple tools for developing the clouds of&nbsp;business services (product factories) with reliable assessment of&nbsp;functional impact, reducing regress risks.</p>
                <p>Gridfore as&nbsp;a&nbsp;product is&nbsp;targeted at&nbsp;telco, trade and financial retail, including virtual operators.</p>
                <p>The architectural concept is&nbsp;based on&nbsp;convergent Gridfore OLAP/OLTP solution built on&nbsp;in-memory processing technologies (in-memory data grid) and Hadoop stack. The solution is&nbsp;designed as&nbsp;a&nbsp;hybrid system, based on&nbsp;data warehouse with near-zero data latency, combined with high-efficiency compute grid, that encapsulates high-load ELT batch, streaming processing and real-time computing services.</p>
                <p>The project Gridfore team has extensive experience in&nbsp;the implementation of&nbsp;BI solutions. Nowadays the team is&nbsp;developing a&nbsp;platform for a&nbsp;global telco. It&nbsp;is&nbsp;currently contracted by&nbsp;a&nbsp;high-tech retail bank and is&nbsp;under negotiation with several potential customers.</p>
                <p>The project Gridfore is&nbsp;interested in&nbsp;technological improvements and elaboration which can be&nbsp;achieved through sharing of&nbsp;ideas in&nbsp;the professional and business community.</p>
            </div>
        </div>
    </div>
</div>
