<div class="trends">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Trends</h3>
                <p>The main trend of&nbsp;the technological stack development, for our opinion, is&nbsp;aimed at&nbsp;the consolidation of&nbsp;operational and analytical services in&nbsp;a&nbsp;universal solution that operates the sole layer of&nbsp;reliable data, and provides unified and effective mechanisms of&nbsp;data processing, quality control, and preventing of&nbsp;functional regression.</p>
                <p>Impact control avoids the main disadvantage of&nbsp;the microservice architecture, expressed in&nbsp;a&nbsp;disproportionate increase of&nbsp;regression risks, when the graph of&nbsp;interrelated services becomes more complicated (hundreds and thousands of&nbsp;services for a&nbsp;large corporation).</p>
                <p>High TTM can be&nbsp;provided by&nbsp;building a&nbsp;reliable and efficient change management process that supports both the parallel development of&nbsp;business services and the continuous refactoring of&nbsp;the solution components.</p>
                <p>This very concept is&nbsp;a&nbsp;solution of&nbsp;a&nbsp;new class for the prospective and current business requirements.
                Obsolete approaches to&nbsp;loosely coupled system integration, using service buses, batch or&nbsp;streaming data exchange lead to&nbsp;low efficiency of&nbsp;the solution for the business, high latency and unreliability of&nbsp;distributed operations, lack of&nbsp;common semantics and a&nbsp;significant complication of&nbsp;the solution entirely. All mentioned above leads to&nbsp;high TCO, uncertainty for the business in&nbsp;the reliability of&nbsp;the solution itself and the possibility of&nbsp;its effective development, which in&nbsp;turn reduces the willingness of&nbsp;the customers to&nbsp;invest in&nbsp;their technical development.</p>
                </p>
            </div>
        </div>
    </div>
</div>
