<div class="trends">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Основные технологические и рыночные тренды</h3>
                <p>Основной тренд развития технологического стека, на&nbsp;наш взгляд, направлен на&nbsp;консолидацию операционных
                    и&nbsp;аналитических сервисов в&nbsp;универсальном решении, оперирующим единым слоем достоверных данных,
                    и&nbsp;обеспечивающим унифицированные и&nbsp;эффективные механизмы их&nbsp;обработки, контроля качества и&nbsp;штатной
                    отработки функционального регресса.</p>
                <p>Контроль импакта позволяет избежать основного недостатка микросервисной архитектуры, выраженного в&nbsp;непропорциональном
                    повышении регресс-рисков при усложнении графа взаимосвязанных сервисов (сотен и&nbsp;тысяч сервисов, для
                    крупной корпорации).</p>
                <p>Высокий TTM должен быть обеспечен построением надёжного и&nbsp;эффективного процесса управления изменениями,
                    поддерживающего параллельную разработку бизнес-сервисов и&nbsp;постоянную модернизацию компонент решения.
                </p>
                <p>Обеспечение текущих и&nbsp;перспективных требований бизнеса возможно в&nbsp;решении нового типа, которое и&nbsp;предлагается
                    в&nbsp;данной концепции. Устаревшие подходы к&nbsp;слабосвязанной интеграции систем с&nbsp;использованием
                    сервисных шин, пакетного или потокового обмена данными, приводит к&nbsp;низкой эффективности решения для
                    бизнеса, высокой латентности и&nbsp;ненадёжности распределённых операций, отсутствии единой семантики и&nbsp;существенном
                    усложнении решения в&nbsp;целом, что ведёт к&nbsp;высокому TCO, неуверенности бизнеса в&nbsp;надёжности решения
                    и&nbsp;возможности эффективного его развития, что снижает готовность инвестирования в&nbsp;техническое развитие
                    корпорации.
                </p>
            </div>
        </div>
    </div>
</div>
