{% extends "core/layout.twig" %}
{% set title = "Gridfore" %}
{% block lang %}en{% endblock %}
{% block body %}
    {% include 'blocks/header_en.twig' %}
    {% include 'blocks/problem_en.twig' %}
    {% include 'blocks/solution_en.twig' %}
    {% include 'blocks/trends_en.twig' %}
    {% include 'blocks/technology_en.twig' %}
    {% include 'blocks/footer_en.twig' %}

{% endblock %}
