{% extends "core/layout.twig" %}
{% set title = "Gridfore" %}
{% block lang %}ru{% endblock %}
{% block body %}
    {% include 'blocks/header.twig' %}
{#                 <blockquote>
                    <p>The global data management platform market was estimated to be valued at nearly US$ 1,300 Mn in 2016
                        and is expected to register a CAGR of 14.5% in terms of value over the forecast period. The global
                        data management platform market is slated to be valued at nearly US$ 4,000 Mn in the year 2024.</p>

                    <a href="https://www.persistencemarketresearch.com/market-research/data-management-platforms-market.asp" target="_blank">
                        <cite>Global Market Study on Data Management Platforms: Media Agency Segment Estimated to Account for Significant
                            Value Share Through 2024</cite>
                    </a>

                </blockquote>
 #}
    {% include 'blocks/problem.twig' %}
    {% include 'blocks/solution.twig' %}
    {% include 'blocks/trends.twig' %}
    {% include 'blocks/technology.twig' %}
    {% include 'blocks/footer.twig' %}

{% endblock %}
